form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #3b3746;
  padding: 50px 40px;
  border-radius: 20px;
  box-shadow: 5px 6px #ebbb4b;
  margin: 40px auto;
  max-width:500px;
}

.checkbox-div {
  flex-direction: row;
}

label,
input {
  margin: 10px 2px 0 2px;
}

button {
  align-self: center;
  margin: 10px 4px 4px 4px;
  background-color: #436d42;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  border: none;
  width: 15em;
}

button:hover {
  background-color: #769642;
}

button:active {
  background-color: #2d4d3a;
}
h1,h2{
  text-align: center;
  padding-top:30px;
  margin: 10px ,auto;
}

li ,ul{
  list-style: none;
}
.index-header-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}

.index-link-text {
  background-color: #f47b5b;
  color: white;
  font-size: 1.4em;
  width: 10em;
  padding: 5px 15px;
  margin: 15px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 5px #ffbd59;
}

.index-link-text:hover {
  background-color: #ffbd59;
  box-shadow: 0 5px #f47b5b;
}

.index-link-text:active {
  background-color: #f47b5b;
  box-shadow: 0 2.5px #ffbd59;
}

li {
  list-style: none;
}
.index-header-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}

.add-business {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  text-decoration: none;
  width: 6em;
  text-transform: uppercase;
  background-color: #769642;
  border-radius: 30px;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

a{
  text-decoration: none;
}

.index-link-text
{
  margin: 10px auto;
  text-align: center;
  align-items: center;
}

.businesses-div,ul{

/* display: flex; */
justify-content: center;
align-items: center;
margin: 10px, auto;
text-align: center;
list-style: none;
}