<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bahrain Business Directory</title>
    <link rel="stylesheet" href="/stylesheet/style.css" />
  </head>
  <body>
    <h1>Welcome to the Bahrain Business Directory</h1>
    <img
      src="/assets/phonebook.png"
      alt="a phonebook"
      class="phonebook"
    />
    <p>
      A sample directory where users can browse small to mid-size busnisses in
      Bahrain
    </p>
<a href="/businesses" class="businesses-index-link">
      <div class="index-link-text">Borwse Businesses</div>
    </a>
    <footer>
      Icons by <a href="https://www.flaticon.com/authors/freepik">Freekpik</a>
    </footer>
  </body>
</html>
